#page1.gwd-play-animation .gwd-motion-path-1yo9-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 0, "endTimeMs": 353.001, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 353.001, "endTimeMs": 3576, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "-65.87px", "-1.66px", "-123.76px", "8.51px", "-222px", "3px"], "startTimeMs": 3576, "endTimeMs": 4294, "easing": "cubic-bezier(0.755, 0.005, 0.255, 0.965)"
    }
    , {
      "controlPoints": ["-222px", "3px", "-222px", "3px", "-222px", "3px", "-222px", "3px"], "startTimeMs": 4294, "endTimeMs": 7694, "easing": "cubic-bezier(0.755, 0.005, 0.255, 0.965)"
    }
    , {
      "controlPoints": ["-222px", "3px", "-222px", "3px", "-222px", "3px", "-222px", "3px"], "startTimeMs": 7694, "endTimeMs": 8100, "easing": "cubic-bezier(0.755, 0.005, 0.255, 0.965)"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1yo9-keys-x 8.1s linear 0s 1 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1yo9-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  4.36% {
    transform: translate3d(0px, 0px, 0px);
  }
  44.15% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6296, -0.0006, 0.8745, 0.4275);
  }
  48.36% {
    transform: translate3d(-84.65px, 0px, 0px);
  }
  48.8% {
    transform: translate3d(-126.6px, 0px, 0px);
  }
  49.02% {
    transform: translate3d(-145.2px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1324, 0.548, 0.4008, 0.97);
  }
  53.01% {
    transform: translate3d(-222px, 0px, 0px);
  }
  94.99% {
    transform: translate3d(-222px, 0px, 0px);
  }
  100% {
    transform: translate3d(-222px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1yo9-anim-y {
  animation: gwd-motion-path-1yo9-keys-y 8.1s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1yo9-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  4.36% {
    transform: translate3d(0px, 0px, 0px);
  }
  44.15% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.8778, -0.4054, 0.1156, 2.5184);
  }
  53.01% {
    transform: translate3d(0px, 3px, 0px);
  }
  94.99% {
    transform: translate3d(0px, 3px, 0px);
  }
  100% {
    transform: translate3d(0px, 3px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}